* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(150deg, rgb(128, 82, 236), rgb(200, 97, 255));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  border: 2px solid white;
  width: 40%;
  min-width: 450px;
  padding: 30px 40px;
}
#newtask {
  position: relative;
  background-color: white;
  padding: 30px 20px;
  border-radius: 5px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

#newtask input {
  width: 70%;
  height: 40%;
  font-size: 15px;
  border: 2px solid rgb(209, 211, 212);
  padding: 12px;
  color: rgb(0, 0, 0);
  font-weight: 600;
  position: relative;
  border-radius: 5px;
}

#newtask input:focus {
  outline: none;
  border-color: rgb(200, 97, 255);
}

#newtask button {
  position: relative;
  width: 20%;
  height: 40%;
  float: right;
  border-radius: 5px;
  font-size: 15px;
  background-color: rgb(187, 103, 233);
  font-weight: 600;
  position: relative;
  padding: 12px;
  color: rgb(252, 252, 252);
  border: none;
}

#newtask button:hover {
  color: rgb(187, 103, 233);
  background-color: transparent;
  border: 1px solid rgb(187, 103, 233);
  box-shadow: 2px 2px rgb(187, 103, 233, 0.3);
}

#tasks {
  background-color: rgb(255, 255, 255);
  padding: 30px 20px;
  margin-top: 60px;
  border-radius: 10px;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
  width: 100%;
  position: relative;
}

h3 {
  text-align: center;
  text-decoration: underline;
}

.task {
  background-color: rgb(255, 255, 255);
  height: 50px;
  padding: 5px 10px;
  margin-top: 10px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgb(209, 211, 212);
  cursor: pointer;
}
.task span {
  font-size: 15px;
  font-weight: 400;
}

.task button {
  float: right;
}

.deletebtn {
  background-color: rgb(255, 255, 255);
  color: rgb(238, 47, 47);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(187, 103, 233);
  cursor: pointer;
  outline: none;
}

.deletebtn:hover {
  transform: scale(1.1);
  color: rgb(255, 255, 255);
  background-color: rgb(238, 47, 47);
}

.editbtn {
  background-color: rgb(255, 255, 255);
  color: rgb(205, 113, 255);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(187, 103, 233);
  cursor: pointer;
  outline: none;
}

.editbtn:hover {
  transform: scale(1.1);
  color: rgb(255, 255, 255);
  background-color: rgb(205, 113, 255);
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 40px;
  border-radius: 5px;
  text-align: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}

#editTask {
  width: 60%;
  height: 20%;
  font-size: 14px;
  border: 2px solid rgb(209, 211, 212);
  padding: 8px;
  color: rgb(0, 0, 0);
  border-radius: 5px;
}

#saveEdit {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.completebtn {
  float: left;
  color: rgb(255, 255, 255);
  background-color: #4caf50;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  margin-top: 5px;
  border: none;
}

.completebtn:hover {
  transform: scale(1.1);
  color: rgb(76, 175, 80);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(76, 175, 80);
}

.completed {
  text-decoration: line-through;
  color: rgb(76, 175, 80);
}
